<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li><a href="{% url 'list_projects' %}">My Projects</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <a href="{% url 'signup' %}" >Signup</a>
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </ul>
                </nav>
            </header>
            <div>
                <h1>My Projects</h1>
                <p> <a href="{% url 'create_project' %}">Create a new project</a></p>
                {% if projects|length == 0 %}
                  <p>You are not assigned to any projects</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for num in projects %}
                                <tr>
                                    <td><a href="{% url 'show_project' num.id %}">{{ num.name }}</a></td>
                                    <td>{{ num.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>
